<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora</h1>
    <% for(let post of posts) { %>
        <div class="post">
            <h2>@<%= post.name  %></h2>
            <p><%= post.message %></p>
        </div>
        
    <%  } %>
</body>
</html>